@theme(sc-regular-size.popup) {
  $theme.button {
    @include slices("normal_select.png", $left: 5, $right: 25);

    .sc-button-label {
      position: absolute;
      left: 7px;
      text-align: left;
      right: 25px;
      vertical-align: top;
      color: #333;
      text-shadow: 0px 1px 1px white;
    }

    &.sel, &.sel.active, &.active {
      @include slices("active_select.png", $left: 5, $right: 25);

      text-shadow: 0 1px 1px rgba(255, 255, 255, .6);
    }
  }
}
